<div class="header">
  <div class="icon">
    <img src="/assets/icon.png"/>
  </div>
  <h1>Pomodora</h1>
  <div class="menu-item1">
    <p class="menu-item">What's a Pomodora?
    </p>
  </div>

  <div  id="about"class="menu-item1">
      <p id="about-title" class="menu-item">About
    </p>
  </div>
</div>

<div class="pomodoro-main-content">
  <div class="align-right">
    <div class="time-buttons">
      <button type="button" class="five pomodoro-choices ">5 minutes</button>
       <button type="button" class="ten pomodoro-choices ">10 minutes</button>
       <button type="button" class="twenty-five pomodoro-choices ">Pomodora</button>
    </div>
    <div class="finished">Finished? </div>
    <div id="countdown">25:00</div>
    <form id ="user-input">
      <input id="textbox" type="text" name="todo"  placeholder="ex ~ Finish Reading Chapter 2">
    </form>
    <button id="start" class="button-style" type ="button">Start</button>
    <button id="yes" class="button-style" type ="button">Yes </button>
    <button id ="no" class="button-style" type="button"> No </button>
  </div>
  <div class="que">
    <p id ="que-title"> Que </p>
    <div class= "list-container"> </div>
  </div>
</div>
<div class="footer-container black-footer-styling">
  <h4 class="title"> Progress Bar:</h4>

  <div class="adjust-bottom">
    <div class="progressBar progressBar-styling" id="max22">
      <div id="attribute"></div>
    </div>
    <div class="progress-display">
      <div id ="image-icon">
          <img src ="/assets/image-icon.png"/>
      </div>
        <p id="newsfeed"></p>
    </div>
  </div>
</div>
