<div class="header">
  <div class="icon">
    <img src="/assets/pomodoro.png"/>
  </div>
  <header class= "title">Pomodora</header>
  <div class="menu-item1">
    <h3 id="about-pomodoro" class="menu-item">What's a Pomodora?</h3>
      <h3 id="about-title" class="menu-item">About
    </h3>
  </div>
</div>
<h2> What can you do in 25 minutes? Pomodora a fun way to manage your time.
</h2>

<div class="pomodoro-main-content">
    <div class="time-buttons time-buttons-structure">
      <button type="button" class="five pomodoro-choices "><h4> 5 minutes</h4> </button>
       <button type="button" class="ten pomodoro-choices "><h4> 10 minutes</h4> </button>
       <button type="button" class="twenty-five pomodoro-choices "><h4>Pomodora</h4></button>
    </div>
    <h3 id="countdown">25:00</h3>
    <div id = "pomodoroCounter"><h2 id="pomodoroCountertext">1</h2> </div>
    <form id ="user-input">
      <input id="textbox" type="text" name="todo"  placeholder="ex ~ Finish Reading Chapter 2">
    </form>
  <div class="answer-buttons">
    <button id="start" class="button-style" type ="button">Start</button>
    <button id="yes" class="button-style" type ="button">Yes </button>
    <button id ="no" class="button-style" type="button"> No </button>
  </div>
  </div>
</div>
<div class="footer-container black-footer-styling">
  <h4 class="progress-bar-title"> Progress Bar:</h4>

  <div class="adjust-bottom">
    <div class="progressBar progressBar-styling" id="max22">
      <div id="attribute"></div>
    </div>
    <div class="progress-display">
      <div id ="image-icon">
          <img src ="/assets/image-icon.png"/>
      </div>
        <p id="newsfeed"></p>
    </div>
  </div>
</div>
