/*/*/*body {
  margin: 0px;
}
.header {
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: #dbd8d1;
  top: 0px;
  -webkit-box-shadow: 0px 4px 0px #d2cec6, 0px 1px 0px rgba(0,0,0,.7);

 }
#pomodoroCounter {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  background: #C74352;
  color: white;
  font-size: 20px;
  text-align: center;
  z-index: 10;
  position: relative;
  bottom: 153px;
  left: 410px;
  border: outset grey 2px;
}
#pomodoroCountertext {
  position: relative;
}

 #about-title:hover {
  text-decoration: underline;
 }
 #about-title {
  margin-left: 3px;
 }

 #about-pomodoro:hover {
  text-decoration: underline;
 }


.icon {
  width: 100px;
  position: relative;
  left: 340px;
  top: 15px;
}

#countdown {
  display: block;
  font-size: 40px;
  margin-left: 110px;
  width: 110px;
  position: relative;
  top: 30px;
}


.pomodoro-main-content {
  position: relative;
  width: 450px;
  height: 300px;
}

.two-button-switch {
  position: relative;
  margin: auto;
  width: 250px;
  height: 35px;
  top: 35px;
  background-color: white;
  border-radius: 2px;
}

#user-input {
display: block;
position: relative;
text-align: center;
left: 45px;
margin-top: 0px;
margin-right: 100px;
}


.finished {
  position: relative;
  top: 50px;
  left: 112px;
  font-size: 40px;
  display: none;
}

button {
  position: relative;
  float: right;
}

.completed {
  position: absolute;
  width: 100px;
  height: 10px;
  padding-left: 2px;
}
#start {
  width: 200px;
  bottom: 10px;
  margin-right: 130px;
}

#yes {
  display: none;
  right: 240px;
  background-color: #5D8DD1;
  bottom: 10px;
}

#no {
  display: none;
  bottom: 10px;
  position: relative;
  right: 100px;
}



#que-footer {
  position: absolute;
  left: 40px;
  top: 222px;
}

.footer-container {
  width: 100%;
  height: 55px;
  position: fixed;
  bottom: 0px;
}

.black-footer-styling {
background-color: #6086AB;
}



.progressBar {
  width: 65%;
  height: 37px;
  border-radius: 5px;
  border: 1px solid #000;
}


.progressBar-styling {
  background-color: #A8B2C0;
  top: -7px;
  z-index: 10;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 1px 0 rgba(255,255,255,0.08),inset 5px 1px rgba(255,255,255,0.06);
    background-color: #333;
}
.progressBar div {
  height: 100%;
  color: #fff;
  text-align: right;
  line-height: 22px;
  width: 0px;
  background-color: #23C77D;
  border-radius: 5px;
}


#image-icon {
  width: 40px;
  border-right: 1px solid #000;
  height: 50px;
}

.menu-item1 {
  position: relative;
  left: 950px;
  color: #010259;
  top: -20px;
}

#about {
  left: 968px;
  top: 0px;
}


.adjust-bottom {
  position: relative;
  bottom: 5px;
  width: 100%;
}
.progress-display {
  width: 25%;
  height: 38px;
  border-radius: 3px;
  border: 1px solid #000;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-backface-visibility: hidden;
  box-shadow: 0 1px 0 rgba(255,255,255,0.08),inset 1px 1px rgba(255,255,255,0.06);
  background-color: #1E486A;
  float: left;
  margin-left: 10px;
}
.progress-display-styling{
  border: 1px solid #000;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-backface-visibility: hidden;
  box-shadow: 0 1px 0 rgba(255,255,255,0.08),inset 1px 1px rgba(255,255,255,0.06);
  background-color: white;
  float: left;
  margin-left: 10px;
}


#newsfeed {
  position: relative;
  left: 48px;
  bottom: 40px;
}*/*/*/