body {
  background-image: url(http://www.good.co/assets/subtle-pattern.jpg);
}


.title
{
  position: relative;
  margin-left:180px;
  margin-top:20px ;

}
.completed {
  background-color: #FAF5F6;
  display: none;
  height: 20px;
  left: 2px;
  width: 97px;
  border-radius: 1.5px;
}

.menu-item {
  border-style: solid;
  border-width: 0px 0px 0px 2px;
  padding-left: 2px;
  display: inline;
}

#about-title {
  border-width: 0px 0px 0px 2px;

}

.pomodoro-choices {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  padding: 10px 19px;
  font-size: 12px;
  line-height: 1.471;
  border-radius: 2px;
  background-color: #7399D5;
  border-color: #7399D5;
  border-color: #7399D5;
  font-family: Aller;
  font-size: 14px;
  color: white;
}

.button-style {
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.471;
  border-radius: 6px;
  color: #ffffff;
  background-color: #23C77D;
  border: none;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}
#yes {
  background-color: #23C77D;
}


.time-buttons {
  display: inline-block;
  position: relative;
  bottom: 70px;
  right: 40px;
  z-index: 10;
  width: 400px;
}
#no {
  background-color: #C74352;;
}

#countdown {
  font-family: Aller;
  font-weight: 500;
}
.pomodoro-main-content {
  background-color: #ffffff;
  box-shadow: 3px 3px 1px #888888;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  opacity: .85;
}

.black-footer-styling {
  background-color: #222;
  border-top: 2px solid #000;
  border-bottom: 1px solid #000;
  -webkit-box-shadow: inset 0 0 1px rgba(255,255,255,0.4);
  box-shadow: inset 0 0 1px rgba(255,255,255,0.4);
}


#que-footer {
  color: white;
  font-family: Aller;
  font-size: 15px;
  font-style: bodl  ;
  text-align: center;
}
#newsfeed {
  color: white;
}


.progress-bar-title {
  color: white;
  margin-left: 7px;
  margin-top: 0px;
}